<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/style.css">
    <title>Front</title>
</head>

<body>
    <header>
        <div class="logo">
            <a href="../index.html">Front</a>
        </div>
        <nav class="nav-header">
            <ul>
                <li>
                    <a>
                    <img class="btn-theme" src="../img/dark.svg">
                    </a>
                </li>
                <li><a href="../index.html">Home</a></li>
                <li><a href="#">Galeria</a></li>
                <li><a href="./contact.html">Contato</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="full-content">
        <div class="search">
            <input class="input" type="text" id="text" name="text" placeholder="Pesquisar...">
        </div>
        <div class="gallery"></div>
        <div class="carrossel">
            <div class="container" id="img">
                <!-- Verifique se as imagens estão no caminho correto -->
                <img src="https://s1.1zoom.me/prev/596/Italy_Mountains_Church_Scenery_Santa_Maddalena_595663_600x400.jpg" alt="img1">
                <img src="https://www.1zoom.me/prev/317/316493.jpg" alt="img2">
                <img src="https://www.1zoom.me/prev/303/302250.jpg" alt="img3">
           </div>
        </div>
    </div>
    </main>

    <footer>
        <p>Front 2024</p>
    </footer>

    <script src="../JS/gallery.js"></script>
</body>

</html>